.field {
    margin: 15px;
    user-select: none;
}
.row {
    display: flex;
}

.cell {
    cursor: pointer;
    width: 33px;
    height: 33px;
    border: 1px solid #2c2c2c;
    border-radius: 3px;
    background: darkcyan;
    /*margin: 1px;*/
    transition: scale .1s ease-in-out;
    display: flex;
    justify-content: center;
    align-items: center;
}

.big_cell {
    width: 40px;
    height: 40px;
    border-radius: 5px;
}

.empty {
    background: aliceblue;
}

.safe {
    background: aquamarine;
}

.cell:hover {
    transform: scale(1.1);
}

#missed {
    background-color: #000;
    border-radius: 50%;
    width: 5px;
    height: 5px;
}

/*.killed {*/
/*    border-color: #000;*/
/*}*/

