#pause {
    width: 60px;
    height: 60px;
    border: 3px solid black;
    border-radius: 20px ;
    background-color: aqua;
    
}
#setting {
    width: 60px;
    height: 60px;
    border: 3px solid black;
    border-radius: 30px ;
    background-color: aqua;
    
}
#question {
    width: 60px;
    height: 60px;
    border: 3px solid black;
    border-radius: 20px ;
    background-color: aqua;
    
}
#MegaButton{
    width: 90px;
    height: 90px;
    border: 3px solid black;
    border-radius: 100px ;
    background-color: aqua;
}
