#game {
    display: flex;
    flex-direction: column;
    align-items: center;
    user-select: none;
    margin-top: 40px;
}

#fields {
    margin-top: 30px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.button_group {
    margin-top: 20px;
    width: 250px;
    display: flex;
    justify-content: space-around;
}

.game_header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 45vw;
    height: 170px;
}