#game {
    display: flex;
    flex-direction: column;
    align-items: center;
    user-select: none;
    margin-top: 40px;
}
@media screen and (max-width: 560px) {
    .game_header {
        flex-direction: column;
    }
}

#fields {
    margin-top: 30px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.button_group {
    margin-top: 20px;
    width: 250px;
    display: flex;
    justify-content: space-around;
}

.game_header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.but__down {
    cursor: pointer;
}