#game {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#fields {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.button_group {
    margin-top: 20px;
    width: 250px;
    display: flex;
    justify-content: space-around;
}