#game {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#fields {
    display: flex;
    /*flex-direction: row;*/
    justify-content: center;
    flex-wrap: wrap;
}

.button_group {
    margin-top: 20px;
    width: 250px;
    display: flex;
    justify-content: space-around;
}

/*.game_button {*/
/*    width: 30px;*/
/*    height: 30px;*/
/*    border: 2px solid #000;*/
/*    border-radius: 30px;*/
/*}*/