.cell {
    width: 30px;
    height: 30px;
    border: 1px solid #000;
    background: aqua;
    margin: 2px;
    transition: scale .1s ease-in-out;
    display: flex;
    justify-content: center;
    align-items: center;
}

.empty {
    background: aliceblue;
}

.cell:hover {
    transform: scale(1.1);
}

#missed {
    background-color: #000;
    border-radius: 50%;
    width: 5px;
    height: 5px;
}

#killed {

}

