.App {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-top: 20px;
}
@media screen and (max-width: 1560px) {
  .App {
    flex-direction: column;
  }
  .control_buttons {
    margin-left: auto;
    margin-right: auto;
  }
}

.control_buttons {
  user-select: none;
  display: flex;
  flex-direction: column;
}

.button__left_control {
  cursor: pointer;
  margin-left: 10px;
}

.inactive {
  pointer-events: none;
  position: fixed;
}

.record_header {
    margin: 10px;
}