.App {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 20px;
}

.control_buttons {
  user-select: none;
  display: flex;
  flex-direction: column;
}

.button__left_control {
  cursor: pointer;
  margin-top: 40px;
  width: 64px;
  height: 64px;
}

.inactive {
  pointer-events: none;
  position: fixed;
}
